absl-py
certifi
cmake
cycler
dataclasses
decorator
google-pasta
GPy
GPyOpt
kiwisolver
matplotlib
mkl-fft
mkl-random
mkl-service
msgpack-numpy
numpy
olefile
pandas
paramz
Pillow
pygame
pyparsing
python-dateutil
pytz
scipy
seaborn
six
tabulate
tensorflow-estimator
tensorpack
tgan
torch
typing-extensions
wincertstore
wrapt
